<!DOCTYPE html>
<html>
<head>
	<title>TROPHIES - Honor Blast</title>
	<%- include sharedcontent/head.ejs %>
</head>
<body>
<%- include sharedcontent/header.ejs %>
	<section class="main-container">
		<br>
        <div class="container-fluid">
            <div class="row"><h2 class="title2">Click on a trophy to manage it, or create a new one.</h2></div>
            <div class="row stat-row"><a href="/admin/newtrophy" class="menu-links"><p class="stat-text"><span class="blue-unicode">＋</span> CREATE NEW TROPHY</p></a></div>
            <% for (var i = 0; i < INFO.trophies.length; i++){ %>
            <div class="row stat-row"><a href="/admin/trophies/<%- INFO.trophies[i].id %>" class="menu-links"><p class="stat-text"><%- INFO.trophies[i].description %></p></a></div>
            <% } %>
        </div>
	</section>	
	<%- include sharedcontent/footer.ejs %>
	
	<script src="/js/app.js"></script>
	<script src="/js/menu.js"></script>
</body>
</html>