<!DOCTYPE html>
<html>
<head>
	<title>QUESTS - Honor Blast</title>
	<%- include sharedcontent/head.ejs %>
</head>
<body>
<%- include sharedcontent/header.ejs %>
<% var thisStudent = {};
	for (var i = 0; i < INFO.players.length; i++){
		if (INFO.players[i].id == ID){
			thisStudent = INFO.players[i];
		}
	}
	%>
	<section class="main-container">
		<br>
		<div class="container-fluid">	
			<div class="row" id="control-content">
				<div class="col-sm-5">
					<div class="row stat-row">
						<div class="col-sm-5">
							<%- thisStudent.img %>
						</div>
					</div>
					<div class="row stat-row" style="background-color: #484858;">
						<p>Get SVG code from <a href="https://avatarmaker.com/" target="_blank">this avatar site</a>.</p>
						<p class="stat-text" style="color: white;"><span class="icon-size"></span>SVG avatar image:&nbsp;&nbsp;</p>	
						<textarea style="width: 100%; color: black;" type="textarea" rows="4" id="imgfield" onchange="updateImg()">
<%- thisStudent.img %></textarea>
					</div>
					<div class="row stat-row" >
						<p class="stat-text left-float"><span class="icon-size red-font">♥</span> HP Points:&nbsp;&nbsp;</p>
						<div id="input_div">
							<input style="width: 30%;" type="text" size="25" value="<%- thisStudent.health %>" id="heartcount" onchange="updateHealth()">
							<input type="button" value="-" id="moins" onclick="heartminus()">
							<input type="button" value="+" id="plus" onclick="heartplus()">
						</div>
					</div>
					<div class="row stat-row">
						<p class="stat-text left-float"><span class="icon-size">⭐</span> Stars:&nbsp;&nbsp;</p>
						<div id="input_div">
							<input style="width: 30%;" type="text" size="25" value="<%- thisStudent.stars %>" id="starcount" onchange="updateStars()">
							<input type="button" value="-" id="moins" onclick="starminus()">
							<input type="button" value="+" id="plus" onclick="starplus()">
						</div>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="row stat-row">
						<p class="stat-text left-float"><span class="icon-size">👤</span> Name: &nbsp;&nbsp;&nbsp;</p>
						<input style="width: 40%;" type="text" size="90" value="<%- thisStudent.name %>" id="namefield" onchange="updateName()">
					</div>
					<div class="row stat-row">
						<p class="stat-text left-float" "><span class="icon-size">👤</span> Nickname: &nbsp;&nbsp;&nbsp;</p>
						<input style="width: 40%;" type="text" size="90" value="<%- thisStudent.username %>" id="nicknamefield" onchange="updateUser()">
					</div>
					<div class="row stat-row">
						<p class="stat-text left-float" ><span class="icon-size">🎖</span> Rank: &nbsp;&nbsp;&nbsp;</p>
						<input style="width: 40%;" type="text" size="90" value="<%- thisStudent.title %>" id="rankfield" onchange="updateRank()">						
					</div>
					<div class="row stat-row">
						<p class="stat-text left-float"><span class="icon-size">䷩</span> Experience Points: &nbsp;&nbsp;&nbsp;</p>
						<div id="input_div">
							<input style="width: 30%;" type="text" size="25" value="<%- thisStudent.xp %>" id="xpcount" onchange="updateXP()">
							<input type="button" value="-" id="moins" onclick="xpminus()">
							<input type="button" value="+" id="plus" onclick="xpplus()">
						</div>						
					</div>
					<div class="row stat-row">
						<p class="stat-text left-float"><span class="icon-size">¤</span> Coins: &nbsp;&nbsp;&nbsp;</p>
						<div id="input_div">
							<input style="width: 30%;" type="text" size="25" value="<%- thisStudent.money %>" id="coincount" onchange="updateCoins()">
							<input type="button" value="-" id="moins" onclick="coinminus()">
							<input type="button" value="+" id="plus" onclick="coinplus()">
						</div>
					</div>
					<div class="row stat-row">
						<div class="delete-button stat-text left-float">
							<button onclick="deleteEntry('player')">DELETE PLAYER</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid">
				<h2 class="title2 ">Enter Username and Password to Commit Update</h2>
				<form action="/admin/update" method="post">	
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" id="uname" required onchange="updateFields()">
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" id="psw" required onchange="updateFields()">
                        <input type="hidden" id="submitcoins" name="submitcoins" value="">
                        <input type="hidden" id="submitxp" name="submitxp" value="">
                        <input type="hidden" id="submithp" name="submithp" value="">
                        <input type="hidden" id="submitstars" name="submitstars" value="">
                        <input type="hidden" id="submitname" name="submitname" value="">
                        <input type="hidden" id="submituser" name="submituser" value="">
                        <input type="hidden" id="submitrank" name="submitrank" value="">
                        <input type="hidden" id="submitimg" name="submitimg" value="">
                        <input type="hidden" id="studentid" name="studentid" value="<%- thisStudent.id %>">
                        <input type="hidden" id="submitdelete" name="submitdelete" value="false">
                        <input type="hidden" id="submittype" name="submittype" value="player">
                        <button type="submit" class="login-button">UPDATE</button>
                    </div>
				</form>
				</div>				
			</div>
	</div>
		
	</section>	
	<%- include sharedcontent/footer.ejs %>
	<script src="/js/counter.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/menu.js"></script>
</body>
</html>