<!DOCTYPE html>
<html>
<%- include sharedcontent/head.ejs %>
<body>
<%- include sharedcontent/header.ejs %>
	<section>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<svg class="img-responsive" ><%- INFO.players[0].img %></svg><p><%- INFO.players[0].name %></p>
	</section>
	
	<%- include sharedcontent/footer.ejs %>
	
	<script src="/js/app.js"></script>
</body>
</html>