<!DOCTYPE html>
<html>
<head>
	<title>TROPHIES - Honor Blast</title>
	<%- include sharedcontent/head.ejs %>
</head>
<body>
<%- include sharedcontent/header.ejs %>
	<section class="main-container">
		<br>
			<div class="container-fluid">
				<div class="row"><h2 class="title2">Available Trophies:</h2></div>
					<% for (var i = 0; i < INFO.trophies.length; i++){ %>
					<div class="col-sm-3 avatar-col">
						<h3><%- INFO.trophies[i].description %></h3>
							<img class="img-responsive player-img"  alt="Trophy" src="<%- INFO.trophies[i].img %>" />
					</div>
					<% } %>
			</div>
	</section>	
	<%- include sharedcontent/footer.ejs %>
	
	<script src="/js/app.js"></script>
	<script src="/js/menu.js"></script>
</body>
</html>